<div class="container">
    <form method="get" action="/quotes/search">
        <div class="row">
            <div class="col s4 form-field">
                <select class="form-control browser-default" style="border-radius: 10px;" id="author" name="author">
                    <option value="" disabled selected>find Author...</option>
                    {{#each search.authors}}
                    <option value="{{this.name}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col s4 form-field">
                <select class="form-control browser-default" style="border-radius: 10px;" id="tag" name="tag">
                    <option value="" disabled selected>find Tag...</option>
                    {{#each search.tags}}
                    <option value="{{this.name}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-actions">
                <button type="submit" class="waves-effect waves-light btn">
                    <i class="material-icons right">search</i>Search
                </button>
            </div>
        </div>
    </form>
</div>